html
	head
		link(rel="stylesheet" href="./bootstrap/css/bootstrap.min.css" type="text/css")
		link(rel="stylesheet" href="sticky-footer-navbar.css" type="text/css")
		link(rel="stylesheet" href="style.css" type="text/css")
		script(src="./jquery/jquery.min.js")
		script(src="./bootstrap/js/bootstrap.min.js")
	body.createuser
		nav.navbar.navbar-default.navbar-fixed-top
				div.navbar-header
					ul.nav.navbar-nav
						li
							a(href="/") Home
				form.form-inline.indexform
					input.form-control(type="text" placeholder="Search")
					button.btn.btn-outline.success(type="submit") Search
		img.welcome(src="welcome.jpg")
		div.container
			div#bodycontent
				h1.title Create a New Account
				br
				section#content2
					h1 New User
					br
					form(name = "createuser" action = "/createuser" method = "post" onsubmit = "return validateForm()")
						input(type = "text" name = "name" placeholder = "Enter name" id = "name")
						br
						input(type = "email" name = "email" placeholder = "Enter email" id = "email")
						br
						input(type = "password" name = "password" placeholder = "Create a password" id = "password")
						br
						input(type = "password" name = "passwordConfirm" placeholder = "Confirm your password" id = "passwordConfirm")
						br
						input(type = "submit" value = "Create Account")
						br
					br
		br
		h2#message= message
		br
		br
		footer.footer
			div.container
				p.text-muted Copyright © Laura Kramer 2016		
