html
	head
		link(rel = "stylesheet" type = "text/css" href = "style.css")
	body.allposts
		div.box
			h1 Messages
			img(src = "lightning.jpg")
			br
			each thing in post
				h2 #{thing.title}
				p #{thing.body}
				hr
				- for(var i = 0; i < thing.comments.length; i++)
					h2 #{thing.comments[i].title}
					p #{thing.comments[i].body}
				br
		a(href = '/profile') View profile
		br
		a(class = "button" href = "/createpost") Go back to message form
		br
		a(class = "button" href = "/") Go back to homepage.
		br
		a(class = "button" href = "/allposts") See all posts.
		br
		a(class = "button" href = "/logout") Logout
		br