/*Create post page */
body.createpost {
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    color: black ;
    text-align: center; 
    background-color: #FFFBFF;
    margin-left: auto;
    margin-right: auto;
}

.createpost h2 {
    font-size: 22px;
}

.createpost p {
    margin-top: 15px;
    font-size: 18px;
}

.createpost label {
    font-size: 16px;
}

.box{
    margin: 20px auto;
    width: 700px;
    min-height: 150px;
    padding: 10px;
    position:relative;
    background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#f3f3f3), to(#fff), color-stop(.1,#f3f3f3));
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    -webkit-border-bottom-right-radius: 60px 60px;
    -webkit-box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
    
}
.box:before{
    content:'';    
    width: 25px;
    height: 20px;
    position: absolute;
    bottom:0;
    right:0;
    -webkit-border-bottom-right-radius: 30px;
    -webkit-box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
    -webkit-transform:
    rotate(-20deg)
    skew(-40deg,-3deg)
    translate(-13px,-13px);
}

.box:after{
    content: '';
    z-index: -1;
    width: 100px;
    height: 100px;
    position:absolute;
    bottom:0;
    right:0;
    background: rgba(0, 0, 0, 0.2);
    display: inline-block;
    -webkit-box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(0deg)
                        translate(-45px,-20px)
                           skew(20deg);
}

.box img {
    width: 80%;
    margin-top: 15px;
    margin-bottom: 20px;
}

h1{
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px; 
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

/*a{
    text-decoration: none;
    color: #4A4A4A !important;
}

a:hover{
    text-decoration: underline;
    color: #6B6B6B !important ;
}*/

/*hr {
    width: 70%;
    color: black;
}*/

#title {
    width: 700px;
}

#comment {
    width: 700px;
    height: 300px;
}

.button {
    font-size: 18px;
    color: black;
    text-align: center;
}

/* Add-user Page */
body.createuser {
    font: 14px Arial;
    margin: 0 auto;
    padding-top: 50px;
    position: relative;
    background-color: #FFFBFF;
}

.createuser.container {
    margin: 25px auto;
    position: relative;
    width: 900px
}

#content2 {
    background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    box-shadow: 0 1px 0 #fff inset;
    border: 1px solid #c4c6ca;
    margin: 0 auto;
    padding: 25px 0 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: 400px;
}
#content2 h1 {
    color: #7E7E7E;
    font: bold 25px Helvetica, Arial, sans-serif;
    letter-spacing: -0.05em;
    line-height: 20px;
    margin: 10px 0 30px;
}
#content2 h1:before,
#content2 h1:after {
    content: "";
    height: 1px;
    position: absolute;
    margin: 10px 0 30px;
    width: 27%;
}
#content2 h1:after {
    background: -webkit-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    right: 0;
}
#content2 h1:before {
    background: -webkit-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    left: 0;
}
#content2:after,
#content2:before {
    background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    border: 1px solid #c4c6ca;
    content: "";
    display: block;
    height: 100%;
    left: -1px;
    position: absolute;
    width: 100%;
}
#content2:after {
    transform: rotate(2deg);
    top: 0;
    z-index: -1;
}
#content2:before {
    transform: rotate(-3deg);
    top: 0;
    z-index: -2;
}
#content2 form {
    margin: 0 20px;
    position: relative;
}
#content2 form input[type="text"],
#content2 form input[type="email"],
#content2 form input[type="password"] {
    border-radius: 3px;
    box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    transition: all 0.5s ease;
    background: snow url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) no-repeat;
    border: 1px solid #c8c8c8;
    color: #777;
    font: 13px Helvetica, Arial, sans-serif;
    margin: 0 0 10px;
    padding: 15px 10px 15px 40px;
    width: 80%;
}
#name { 
    background-position: 10px 10px !important; 
}
#password {
    background-position: 10px 10px !important;
}
#email { 
    background-position: 10px 10px !important;
}
#content2 form input[type="submit"] {
    background: -webkit-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
    border-radius: 30px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    border: 1px solid #D69E31;
    color: #85592e;
    cursor: pointer;
    font: bold 15px Helvetica, Arial, sans-serif;
    height: 35px;
    margin: 20px 0 20px 0;
    padding: 0 5px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    width: 120px;
}